// Colors variables.
$brand: #58c800;
$white: #f9f9f9;
$text: #323232;
$error: #ff3e3e;

/**
 * Short transition writing.
 * @param $time is for seconds or miliseconds.
 * Example: @include transition(300ms).
 */
@mixin transition($time) {
    transition: all ease-in-out $time
}

.cwppb {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.cwppb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.cwppb__text {
    position: relative;
    max-width: 80%
}

@media (max-width: 767px) {
    .cwppb__title {
        font-size: 30px !important;
        text-align: center
    }

    .cwppb__text {
        max-width: 100%;
        font-size: 14px !important
    }

    .cwppb-button-wrapper {
        text-align: center !important
    }
}